<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>1</integer>
	<real>1.2</real>
	<true/>
	<false/>
	<date>2014-04-14T05:16:41Z</date>
	<data>YWJj</data>
</array>
</plist>
